<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Message</title>
    <link rel="stylesheet" href="/public/css/dictionary.css">
</head>
<body>
    <section id="signup-section">
        <img src="/public/images/index페이지 농부 사진.png" alt="Farmer Image" class="farmer-image">
        <div class="openingText-container">
            <span class="underline">김예린님</span>
            <div class="text-container">
                <span class="underline">지금까지 심은 마음입니다.</span>
            </div>
        </div>
    
        <div class="content" onclick="dicBtnClick()">
            <div class="to-text">To. 수민</div> 
            <img src="/public/images/화살표.png" alt="" class="arrow-image">
            <img src="/public/images/사과.png" alt="Apple Image" class="apple-image">
            <p class="date-text">2023.05.12</p>
        </div>
    </section>
    <button onclick="BackBtnClick(event)" class="home-button">홈으로 돌아가기</button>

    <script src="../public/js/dictionary.js">
        function makeBtnClick() {
            // select.html로 페이지 전환
            location.href = 'home.html';
        }
    </script>
</body>
</html>
