<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Message</title>
    <link rel="stylesheet" href="/public/css/dictionary.css">
</head>
<body>
    <div class="container">
        <img src="/public/images/index페이지 농부 사진.png" alt="Farmer Image" class="farmer-image">
        <p class="title"><strong>김예린님</strong><br>지금까지 심은 마음입니다.</p>
        
        <div class="content">
            <div class="to-text">To. 수민</div>
            <img src="/public/images/사과.png" alt="Apple Image" class="apple-image">
            <p class="date-text">2023.05.12</p>
        </div>
        
        <button class="home-button">홈으로 돌아가기</button>
    </div>
</body>
</html>
