<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>메인 페이지 - 첫화면</title>
</head>

<body>
    <section id="main-section">
        <img src="/public/images/index페이지 농부 사진.png" alt="">
        <div id="simda">심心다多</div>
        <div class="text-container">
            <span class="underline">당신의 마음을</span>
            <span>과일로 전해보세요.</span>
        </div>
        <div class="button-container"> <!-- 버튼을 감싸는 컨테이너 -->
            <button onclick="window.location.href='/login'">로그인</button>
            <button onclick="window.location.href='/signup'">회원가입</button>
        </div>
    </section>

    <script src="/js/index.js"></script>
</body>

</html>