.select_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#select_gam, #select_apple, #select_dragon {
    width: 200px;
    height: 150px;
    background-color: grey;
    border: none;
}

/* #select_gam {
    background-image: ;
}

#select_apple {
    background-image: ;
}

#select_dragon {
    background-image: ;
} */