input {
    /* width: 100%; */
    /* 입력란 전체 너비 사용 */


    /* 마지막 입력란 아래쪽 여백 */

}

#password {
    margin-bottom: 28px;
    /* 비밀번호 입력란과 비밀번호 확인란 사이의 간격 조절 */
}

button {
    margin-top: 360px;
}

i {
    margin-top: 246px;
}